@model MoviesCatalogueSopro.Models.Movie

@{
    ViewData["Title"] = "Details Of Movie";
}

<h1>Details Of Movie</h1>

<div>
    <hr />
    <div class="details">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MovieUrl)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MovieUrl)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rating)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Link)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Link)
            </dd>


            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genre.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.People)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.People.Name)
            </dd>
        </dl>
    </div>
</div>
    <div class="listButtonDetails">
        <a asp-action="Index">Back to List</a>
    </div>
